@font-face {
    font-family: 'iconfont';
    src: url('../font/');
    src: url('../font/?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype'),
        url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,h1,h2,h3,h4,p{
    margin: 0px;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
img{
    border: none;
    /*垂直方向的位置，可与文字对齐*/
    vertical-align: middle;
}
a{
    /*去掉文本装饰*/
    text-decoration: none;
    color: #6c6c6c;
}
i{
    font-style: normal;
}
input,button{
    margin: 0px;
    padding: 0px;
}
button{
    /*去掉外边框，合并模式*/
    outline: 0px;
}
table{
    /*边框模式*/
    border-collapse: collapse;
}
th , td{
    padding: 0;
}

/*添加默认样式*/
body{
/*混合样式：字体大小/行高 font-family*/
/*'\5b8b\4f53'——unicode，文字表现形式*/
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    color: #3c3c3c;
    background-color: #f4f4f4;
}

/*浮动三件套*/
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.lay{
    width: 1300px;
    margin: 0px auto;
}

/*颜色*/
.f1{
    font-size: 12px;
}
.c1{
    color: #48b7d9;
}
.c2{
    color: #fc84e8;
}